<%# Flashcard Scoring Button component %>
<%# card:: expected to be Flashcard instance %>

<% next_due = card.next_repetition_date %>
<% id = card.id %>

<% if next_due == nil or next_due <= Date.today %>
  <div class="flex text-gray-500 border border-gray-300">
    <%= button_to "0", flashcard_path(id),
       method: :put, params: { flashcard: { score: 0 } },
       class: "px-3 py-1 font-bold text-xl bg-gray-50" %>

    <%= button_to "1", flashcard_path(id),
       method: :put, params: { flashcard: { score: 1 } },
       class: "px-3 py-1 font-bold text-xl bg-gray-100" %>

    <%= button_to "2", flashcard_path(id),
       method: :put, params: { flashcard: { score: 2 } },
       class: "px-3 py-1 font-bold text-xl bg-gray-200" %>

    <%= button_to "3", flashcard_path(id),
       method: :put, params: { flashcard: { score: 3 } },
       class: "px-3 py-1 font-bold text-xl bg-gray-300" %>
  
    <%= button_to "4", flashcard_path(id),
       method: :put, params: { flashcard: { score: 4 } },
       class: "px-3 py-1 font-bold text-xl text-gray-100 bg-gray-400" %>

    <%= button_to "5", flashcard_path(id),
       method: :put, params: { flashcard: { score: 5 } },
       class: "px-3 py-1 font-bold text-xl text-white bg-gray-500" %>
  </div>
<% elsif next_due > Date.today %>
  <span class="text-gray-400"> due <%= next_due %> </span>
<% end %>
  