<div>
  <h1 class="font-bold text-4xl">Import Annotations</h1>
  <div class="mt-8">
    <%= form_with url: '/import' do |f| %>
      <%= f.label :opf_file, "OPF Metadata File", class:"font-bold" %><br>
      <%= f.file_field :opf_file %>
      
      <%= f.label :book_id %>
      <%= f.select :book_id, Book.all.collect { |b| [b.title, b.id] } %>
      
      <%= f.submit %>
    <% end %>
  </div>
</div>
