<h1 class="font-bold text-4xl">Add Book</h1>
<div class="flex flex-wrap">
  <%= form_with model: @book do |f| %>
  
    <%= f.label :epub, class: "block" %>
    <%= f.file_field :epub %>
    
    <%= f.label :cover, class: "block" %>
    <%= f.file_field :cover %>

    <%= f.label :title, class: "block" %>
    <%= f.text_field :title %>

    <%= f.label :author, class: "block" %>
    <%= f.text_field :author %>

    <br>
    <%= f.submit "Add Book" %>
  <% end %>
</div>

<style>
  form label { margin-bottom:10px };
  form input { margin-bottom:10px };
</style>
