<div class="flex flex-wrap">
  <%= form_with model: book do |f| %>
  
    <%= f.label :epub, class: "block" %>
    <%= f.file_field :epub %>
    
    <%= f.label :cover, class: "block" %>
    <%= f.file_field :cover %>

    <%= f.label :title, class: "block" %>
    <%= f.text_field :title %>

    <%= f.label :author, class: "block" %>
    <%= f.text_field :author %>

    <%= f.label :fiction, "Fiction or Non-Fiction?", class: "block" %>
    <%= f.select :fiction, {"Non-Fiction": false, "Fiction": true } %>

    <br>
    <%= f.submit "Add Book", class: "mt-4" %>
  <% end %>
</div>

<style>
  form label { margin:10px 0 10px 0 };
  form input { margin-bottom:10px };
</style>
