<div class="mb-8 w-full">
  <h1 class="text-4xl mb-4 font-bold"><%= link_to @book.title %></h1>
  <span class="text-md">by <%= @book.author %></span>
</div>
  
<div class="flex justify-between gap-4">

  <%# Left side: book info, cover and actions %>
  <div class="mb-8 basis-1/3">
    
    <div class="mb-4 max-w-[230px]">
      <%= book_cover(@book) %>
    </div>
    
    <div class="mb-8 tag">
      <%= fiction_or_not_tag(@book) %>
    </div>
    <hr class="h-px mb-8 bg-gray-200 border-0 dark:bg-gray-700">
    
  
    <div class="mb-8">
      <% if @book.plaintext.blank? %>
          No plaintext available for this book. Upload an epub on the edit page.
      <% else %>
        <%=
          link_to 'Extracted plaintext is available in the database for this book.', book_plaintext_path(@book)
        %>
      <% end %>
      
    </div>
    
    
    <%# Edit and Delete buttons %>
    <div class="mb-8 mt-8 flex flex-wrap space-x-4">
      <%= link_to "Edit", edit_book_path(@book), class: "btn" %>
      <%= button_to "Delete", book_path(@book), method: :delete, data:
          { "turbo_method": :delete, "turbo_confirm": "Sure?" },
          class: "btn"
      %>
    </div>
    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
    
    <div class="mb-4 mt-8 ">
      <%= render 'annotations/form', book: @book %>
    </div>
    
    
  </div>
  

  <%# Right side: Annotations %>
  <div class="basis-2/3">
    <% @book.annotations.each do |a| %>

      <%= render_simple_card(a) %>
    
    <% end %>
  </div>

</div>

<style>
  p { white-space: pre-line; }
</style>
