
<div class="mb-8 w-full">
  <h1 class="text-2xl mb-4 font-bold"><%= link_to @book.title %></h1>
  <span class="text-md">by <%= @book.author %></span>
  <span class="ml-4 mb-8 tag">
      <%= fiction_or_not_tag(@book) %>
  </span>
</div>
  
<div class="grid grid-cols-1">
  <%# START Left side: book info, cover and actions %>
  <div class="mb-4">

    
    <div class="flex gap-2 justify-between">
      <div class=" max-w-[150px] md:max-w-[230px]">
        <%= book_cover(@book) %>
      </div>
      
      <div class="mb-8">
        <% if @book.plaintext.blank? %>
            No plaintext available for this book. Upload an epub on the edit page.
        <% else %>
          <%=
            link_to 'Extracted plaintext is available in the database for this book.', book_plaintext_path(@book)
          %>
        <% end %>


        <%# Edit and Delete buttons %>
        <div class="mb-8 mt-8 flex flex-wrap space-x-4">
          <%= link_to "Edit", edit_book_path(@book), class: "btn" %>
          <%= button_to "Delete", book_path(@book), method: :delete, data:
              { "turbo_method": :delete, "turbo_confirm": "Sure?" },
              class: "btn"
          %>
        </div>
      </div>
    </div>

    
    <%# Import annotations %>
    <div class="mb-4 mt-8 ">
      <%= render 'annotation_imports/form', book: @book %>
    </div>

  </div>
  <%# END of left side %>
  
  <%# START Right side: Annotations %>
  <div class="">
    <%# Top paging control %>
    <% if @pagy.present? %>
      <div class="mb-8">
          <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
    <% @annotations.each do |a| %>
      <%= render 'annotations/card', annotation: a unless a.highlighted_text.blank? %>
    <% end %>
  </div>
  <%# END Right side: Annotations %>

</div>

<%# Bottom paging control %>
<% if @pagy.present? %>
  <div class="mb-20 mt-10 w-full">
    <div class="w-fit mx-auto">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>

<style>
  p { white-space: pre-line; }
</style>
