<div class="mb-10">
  <%= link_to "+ Add Feed", new_rss_feed_path, class: "btn" %>
</div>

<% @rss_feed.each do |feed| %>

  <div class="mb-4">
    <div class="font-bold"><%= feed.title %></div>
    <div class="link"><%= link_to feed.url %></div>
    <div class="flex space-x-2 text-gray-500">
      <%= link_to "Edit", edit_rss_feed_path(feed), class: "" %>
      <%= button_to "Delete", rss_feed_path(feed), method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>

<% end %>
