<div class="mb-10 flex justify-between">
  <div>
    <h1 class="mb-2 text-3xl font-bold">English Words</h1>
    <p class="text-gray-600">You looked up these <%= @english_words.count %> words while reading:</p>
  </div>
  <%= link_to "+ Import Words", new_english_word_import_path, class: "btn" %>
</div>

<div class="mb-14 grid grid-cols-5 gap-4">

  <% @english_words.each do |word| %>

    <% if word.cached_wordnet_definition.present? %>
      <%= render "word_tag",
      word: word,
      tag_style: "bg-purple-200 border-purple-600 text-purple-800",
      delete_label_style: "text-purple-400" %>

    <%# An empty string value behind the key in the cache means the lookup was unsuccessful. %>
    <%# FIXME: fix this ambivalent error state by adapting rich Result objects %>
    <% elsif word.cached_wordnet_definition == "" %>
      <%= render "word_tag",
      word: word,
      tag_style: "bg-yellow-200 border-yellow-600 text-yellow-800",
      delete_label_style: "text-yellow-500" %>
    <% else %>
      <%= render "word_tag", word: word %>
    <% end %>

  <% end %>

</div>
