<div class="mb-14 p-6 border border-2 bg-white border-gray-800 drop-shadow-lg">
  <div class="flex justify-between">
    <div class="font-bold text-3xl text-gray-700">
        <%= @english_word.word %>
    </div>
    <div class="flex justify-between gap-2 text-xs uppercase">
      <%= link_to "edit", edit_english_word_path(@english_word) %>

      <%= button_to "delete",
      english_word_path(@english_word),
      class: "uppercase text-red-500",
      method: :delete,
      form: {
        data: {
          turbo_confirm: "Are you sure?"
        }
      } %>

    </div>
  </div>

  <div>
    <% if @english_word.definition_wordnet.blank? %>
    <%# TODO: move this blank check from here, deal with worndnet returning blank in a more deliberate, obvious way %>
      <p>Couldn't find in Wordnet Dictionary</p>
    <% else %>

      <p class="whitespace-pre text-lg">
        <%= @english_word.definition_wordnet %>
      </p>

      <hr class="mb-6">

      <% if @english_word.cached_thesaurus.present? %>
        <p class="whitespace-pre text-lg">
          <%= @english_word.cached_thesaurus %>
        </p>
      <% else %>
        <%= button_to "query thesaurus", english_word_thesaurus_lookups_path(id: @english_word), class: "btn"  %>
      <% end %>

    <% end %>
  </div>

</div>