<%# FIXME: I couldn't figure out yet how no to duplicate this filter_bar between flashcards and annotations.
      The problem comes from filtering using ransack predicates, that by default map to the associations as 
      :association_column -- so if I pass in a @flashcard, it will be :annotation_column, but if I pass in a
      @annotation, it will be simply :column. I tried doin an include/join but didn't work.

 %>
<div class="p-4 mb-8 bg-gray-50 border border-1">
  <%= search_form_for @query, url: request.params, class: "flex justify-between" do |f| %>
  <div class="flex space-x-6 ">

    <div>
      <%= f.label :book_title_eq, "Title", class: "myform-label" %>
      <%= f.select :book_title_eq, book_titles_for_select,
         { selected: "" }, { class: "h-11 myform-select" } %>
    </div>

    <div>
      <%= f.label :book_author_cont, "Author", class: "myform-label" %>
      <%= f.search_field :book_author_cont, class: "border border-gray-300" %>
    </div>

    <div>
      <span class="myform-label">Fiction</span>
      <div class="h-11 p-2">
        <%= f.radio_button :book_fiction_true, 1, class: "myform-radio" %>
      </div>
    </div>

    <div>
      <span class="myform-label">Non-fiction</span>
      <div class="h-11 p-2">
        <%= f.radio_button :book_fiction_true, 0, class: "myform-radio" %>
      </div>
    </div>

  </div>

  <div class="flex items-end">
    <%= f.submit "Filter", class: "h-11 text-xs px-4 py-2 bg-gray-50 border border-gray-300 " %>
  </div>

  <% end %>

  <div class="mt-3 text-xs text-gray-600">
    Current filter returns <%= @pagy.count %> annotations total
  </div>


</div>
