<!-- Full-featured card, showing metadata about the book and context can be expanded -->
<div data-controller="context" data-context-index-value="0"
     class="p-6 mb-8 shadow-md border" >
  <section class="mb-6 text-sm text-gray-500 flex gap-2 justify-between">
    <span>
      <%= link_to annotation.book.title, annotation.book, class: "text-gray-800" %>
      by <%= annotation.book.author %>
    </span>

    <%# Show current highlight's chapter info, if nested, then show all in order: %>
    <span>
      <% annotation.chapters&.each_with_index do |a, index| %>
        <span><%= a %></span> 
        <% unless index == annotation.chapters.size - 1  %>
           &bull;
         <% end %>
      <% end %>
    </span>

  </section>

    <%# Shown by default, the highlighted text, without extra context %>
    <p
      class="mb-6 card-text cursor-pointer"
      data-context-target="excerpt" data-action="">
      <%= annotation.highlighted_text %>
    </p>

    <p data-context-target="excerpt" data-action=""
       class="mb-6 card-text cursor-pointer">
      <%= show_context(annotation, 400) %>
    </p>

    <%# Even more context %>
    <p data-context-target="excerpt" data-action=""
       class="mb-6 cursor-pointer card-text">
      <%= show_context(annotation, 800) %>
    </p>

  
  <section class="text-sm text-gray-500 flex gap-2 justify-between">
    <span>
      <%= link_to annotation do %>
        <%= time_ago_in_words(annotation.timestamp) %> ago
      <% end %>
    </span>
    
    <button data-action="context#less" class="text-xs px-2 border text-gray-600">
      + less context +
    </button>
    <button data-action="context#more" class="text-xs px-2 border text-gray-600">
      + more context +
    </button>
        
    <div class="tag"><%= fiction_or_not_tag(annotation.book) %></div>
  </section>
  
</div>
