<!-- Full-featured card, showing metadata about the book and context can be expanded -->
<div data-controller="context" data-context-index-value="0"
     class="p-6 mb-8 shadow-md border" >
  <section class="mb-6 text-sm text-gray-500 flex gap-2 justify-between">
    <span>
      <%= link_to annotation.book.title, annotation.book, class: "text-gray-800" %>
      by <%= annotation.book.author %>
    </span>

    <%# Show current highlight's chapter info, if nested, then show all in order: %>
    <span>
      <% annotation.chapters&.each_with_index do |a, index| %>
        <span><%= a %></span> 
        <% unless index == annotation.chapters.size - 1  %>
           &bull;
         <% end %>
      <% end %>
    </span>

  </section>

    <%# Excerpt Index 0: Shown by default, the highlighted text, without extra context %>
    <p
      class="mb-6 card-text cursor-pointer"
      data-context-target="excerpt" data-action="">
      <%= annotation.highlighted_text %>
    </p>

    <%# Excerpt Index 1: Hidden by default, context excerpt with radius of 400 %>
    <p data-context-target="excerpt" data-action=""
       class="mb-6 card-text cursor-pointer">
      <%= show_context(annotation, 400) %>
    </p>

    <%# Excerpt Index 2: Hidden by default, even more context using excerpt %>
    <p data-context-target="excerpt" data-action=""
       class="mb-6 cursor-pointer card-text">
      <%= show_context(annotation, 800) %>
    </p>

  
  <%# Bottom metadata and context section %>
  <section class="text-sm text-gray-500 flex gap-2 justify-between">
    <span>
      <%= link_to annotation do %>
        <%= time_ago_in_words(annotation.timestamp) %> ago
      <% end %>
    </span>
    
    <%# Context buttons %>
    <button data-action="context#show_less" data-context-target="less_button" class="text-xs px-2 border text-gray-600">
      + less context +
    </button>

    <button data-action="context#show_more" data-context-target="more_button" class="text-xs px-2 border text-gray-600">
      + more context +
    </button>

    <%# Spaced-repetition scoring buttons TODO: move it to separate partial, and only include if we are on spaced page %>
    <%= button_to "0", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 0 } },
       class: "text-xs px-2 py-1 border border-red-200 bg-red-100" %>

    <%= button_to "1", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 1 } },
       class: "text-xs px-2 py-1 border border-orange-200 bg-orange-100" %>

    <%= button_to "2", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 2 } },
       class: "text-xs px-2 py-1 border border-yellow-200 bg-yellow-100" %>

    <%= button_to "3", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 3 } },
       class: "text-xs px-2 py-1 border border-blue-200 bg-blue-100" %>
      
    <%= button_to "4", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 4 } },
       class: "text-xs px-2 py-1 border border-green-200 bg-green-100" %>

    <%= button_to "5", annotation_repetition_path(annotation.annotation_repetition.annotation_id),
       method: :put, params: { annotation_repetition: { score: 5 } },
       class: "text-xs px-2 py-1 border border-green-300 bg-green-200" %>
    <%# END of spaced repetition scoring part %>

    <div class="tag"><%= fiction_or_not_tag(annotation.book) %></div>

  </section>
  
</div>
