<%= render "annotations/filter_bar" %>

<div class="mb-4 p-2 space-x-4 bg-gray-50 text-sm">
  <span class="font-medium">Sort by:</span>
  <%= sort_link(@query, :book_title) %>
  <%= sort_link(@query, :book_author) %>
  <%= sort_link(@query, :timestamp) %>
  <%= sort_link(@query, :annotation_repetition_next_repetition_date) %>
</div>

<% @annotations.each do |a| %>
  <%= render_full_card(a) %>
<% end %>

<% if @pagy.present? %>
  <div class="mb-24 mt-24 w-full">
    <div class="w-fit mx-auto">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>
