<nav class="mb-10 flex justify-between">

  <%= link_to "re-mem-ber",
  root_path,
  class: "px-2 border border-4 border-dashed border-gray-300" %>

  <div class="space-x-8 font-bold justify-self-end">
    <%= render_account_dropdown %>
  </div>

</nav>

<% unless current_user.blank? %>
  <nav class="flex items-center text-xl justify-between">
    <div class="space-x-8 font-bold">
      <span class="space-x-1">
        <%= nav_link_to "All", annotations_path %>
        <span class="text-gray-300"><%= current_user.annotations.count %></span>
      </span>

      <span class="space-x-1">
        <%= nav_link_to "Starred", annotation_stars_path %>
        <span class="text-gray-300"><%= current_user.annotations.starred.count %></span>
      </span>

      <span class="space-x-1">
        <%= nav_link_to "Due", due_flashcards_path %>
        <span class="text-gray-300"><%= current_user.flashcards.due.count %></span>
      </span>

      <span class="space-x-1">
        <%= nav_link_to "Unscored", unscored_flashcards_path %>
        <span class="text-gray-300"><%= current_user.flashcards.unscored.count %></span>
      </span>

    </div>
    <div class="space-x-8 font-bold">
      <%= nav_link_to "Books", books_path %>
      <%= nav_link_to "News", news_path %>
    </div>
  </nav>
<% end %>
