<!DOCTYPE html>
<html>
  <head>
    <title>Remember</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render 'magic_test/support' if Rails.env.test? %>
  </head>

  <body>
    <!-- Flash notification messages container -->
    <div id="flash" class="px-2 fixed top-5 left-1/2 gap-2 -translate-x-1/2 flex flex-col items-center w-max max-w-full">
      <%= render "layouts/flash" %>
    </div>
    
    <div class="max-w-[800px] mx-auto mb-14 mt-6">
      <%= render "layouts/header" %>
    </div>
    
    <main class="mx-auto max-w-[800px]">
      <%= yield %>
    </main>
  </body>
</html>
