<!DOCTYPE html>
<html>
  <head>
    <title>Remember</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="max-w-[700px] mx-auto mt-4">
      <%= render "layouts/header" %>
    </div>
    
    <main class="mx-auto max-w-[700px] mt-14">
      <%= yield %>
    </main>
  </body>
</html>
